// Global Styles
body {
  font-family: 'Montserrat', sans-serif;
  color: #fdfdfd;
  font-size: 16px;
  width: 100%;
}

.primaryBackground {
  background-color: #e6721a;
  border-color: #e6721a;
}

.primaryGradient {
  background: #08022e;
  background: linear-gradient(to top right, #08022e 0%, #16082c 25%, #2c122d 50%, #a43e27 100%);
}

.secondaryGradient {
  background: #00002e;
  background: linear-gradient(to bottom right,#862616,#00002e 25%,#00002e 50%,#00002e 75%,#862616 105%);
}

.pageGradient {
  background: #00002e;
  background: linear-gradient(to bottom right,#00002e 25%,#00002e 50%,#00002e 75%,#862616 105%);
}

.secondaryPageGradient {
  background: #00002e;
  background: linear-gradient(to bottom, #862616, #00002e 50%);
}

.footerGradient {
  background: #00002e;
  background: linear-gradient(to right, #00002e 50%, #862616);
}

.pageBackground {
  background-image: url('~@/assets/images/page-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}