<template>
  <Layout>
    <div class="notFound pageBackground">
      <b-container>
        <b-row align-v="center" align-h="center">
          <b-col md="6" cols="12">
            <g-image src="~/assets/images/404.png" alt="404" />
          </b-col>
          <b-col md="6" cols="12" class="notFoundMessage">
            <h1>404</h1>
            <h4>Oh no! The page you are looking for does not exist. (Or will exist but sometime in the future.)</h4>
            <p>Don't worry, you are safe. You may now browse the site again.</p>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </Layout>
</template>

<style lang="scss">
  .notFound {
    .container {
      .row {
        height: 100%;
      }
    }

    img {
      width: 100%;
    }
  }

  .notFoundMessage {
    h1 {
      font-size: 80px;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
</style>