<template>
  <Layout>
    <div class="aboutUs">
      <div class="pageBackground">
        <b-container>
          <b-row align-v="center" align-h="between">
            <b-col md="6" cols="12">
              <h2>Master Platform for All the Technological Challenges</h2>
            </b-col>
            <b-col md="6" cols="12">
              <g-image src="~/assets/images/about-banner.png" alt="about-banner" />
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="pageGradient">
        <b-container>
          <b-tabs justified>
            <b-tab title="Company Culture">
              <b-row align-v="center" align-h="between">
                <b-col lg="6" cols="12">
                  <g-image src="~/assets/images/betting-software-products-2.png" alt="company-culture" />
                </b-col>
                <b-col lg="6" cols="12">
                  <h2>Company Culture</h2>
                  <p>Here at Ninepine Technologies our team works together with a collective goal, making success and satisfaction for both the clients and the employees our top priorities. Our inclusive and fun culture of encouragement creates an environment of collaboration which results in mutual success and harmony. We’re a diverse and driven team that’s constantly innovating and striving for excellence through our passion.  </p>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab title="Vision">
              <b-row align-v="center" align-h="between">
                <b-col lg="6" cols="12">
                  <g-image src="~/assets/images/mission-vision.jpg" alt="vision" />
                </b-col>
                <b-col lg="6" cols="12">
                  <h2>Vision</h2>
                  <p>To become the highest quality world-class provider of unified corporate software systems and solutions for large multinational enterprises.</p>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab title="Mission">
              <b-row align-v="center" align-h="between">
                <b-col lg="6" cols="12">
                  <g-image src="~/assets/images/mission-vision.jpg" alt="mission" />
                </b-col>
                <b-col lg="6" cols="12">
                  <h2>Mission</h2>
                  <p>To build long term mutually beneficial relationships with our clients and provide world-class products and services through an unswerving dedication to outstanding quality, innovation and customer service.</p>
                </b-col>
              </b-row>
            </b-tab>
            <b-tab title="Our Core Values">
              <b-row align-v="center" align-h="between">
                <b-col md="4" cols="12">
                  <div class="coreValue">
                    <h4>Quality</h4>
                    <p>We employ the best people and tools for every task, utilizing the best practices and processes, in the pursuit of increasing excellence.</p>
                  </div>
                </b-col>
                <b-col md="4" cols="12">
                  <div class="coreValue">
                    <h4>Innovation</h4>
                    <p>We encourage and reward creative thinking in the creation and improvement of our products, services, work environment, and people.</p>
                  </div>
                </b-col>
                <b-col md="4" cols="12">
                  <div class="coreValue">
                    <h4>Integrity</h4>
                    <p>We pursue our goals with uncompromising integrity and honesty.</p>
                  </div>
                </b-col>
              </b-row>
            </b-tab>
          </b-tabs>
        </b-container>
        <b-container class="ninepineDesc">
          <b-row align-h="center" align-v="center">
            <b-col cols="10">
              <h3>Ninepine is a progressive and dynamic company that offers a competitive salary structure and benefits, with great opportunities for vertical and lateral movement in your career development. </h3>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About Us'
  }
}
</script>

<style lang="scss">
.aboutUs {
  .pageBackground {
    .container {
      .row {
        height: 682px;
      }
    }

    img {
      width: 100%;
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  .pageGradient {
    padding: 88px 0;

    .nav-tabs {
      border: none;

      .nav-link {
        color: #fdfdfd;
        border: none;
        border-bottom: solid #fdfdfd 4px;
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 15px;
        margin-bottom: 0;
        height: 100%;

        &.active {
          background: none;
          border: none;
          color: #d04f25;
          border-bottom: solid #d04f25 4px;
        }
      }
    }

    .tab-content {
      padding: 61px 0;

      img {
        width: 100%;
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0;
      }

      p {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 400;
      }

      .coreValue {
        background-color: #d04f25;
        height: 410px;
        padding: 69px 23px;

        h4 {
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
    
    .ninepineDesc {
      h3 {
        margin: 0 auto;
        text-align:center;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .aboutUs {
    .pageGradient {
      .tab-content {
        h2, p {
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .aboutUs {
    .pageBackground { 
      h2 {
        font-size: 30px;
        text-align: center;
      }
    }

    .coreValue {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .aboutUs {
    .pageGradient, .pageGradient {
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .nav-item {
      flex-basis: 50%;
      margin-top: 20px;
    }
  }
}
</style>
