<template>
  <Layout>
    <div class="careers">
      <div class="pageBackground">
        <b-container>
          <b-row align-v="center" align-h="between">
            <b-col md="6" cols="12">
              <h2>Join our Team!</h2>
            </b-col>
            <b-col md="6" cols="12">
              <g-image src="~/assets/images/sports.png" alt="sports" />
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="secondaryPageGradient">
        <b-container>
          <b-row align-v="center" align-h="between">
            <b-col lg="6" cols="12">
              <g-image src="~/assets/images/ninepine-about.png" alt="ninepine-about" />
            </b-col>
            <b-col lg="6" cols="12">
              <h2>Careers</h2>
              <p>We offer exciting opportunities for ambitious individuals with a passion for excellence. At Ninepine Technologies, you will have an awesome time doing what you love at the same time be immersed in an environment dedicated to sharing knowledge, empowering growth, and maximizing productivity. Join our team and enfold a bright future with us!</p>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="pageGradient">
        <b-container>
          <div class="accordion" role="tablist">
            <div role="tab">
              <div class="toggler" @click="setCollapsed('seniorfullstack')" v-b-toggle="'seniorfullstack'" ref="seniorfullstack">
                Senior Full Stack Developer
                <b-icon v-if="collapsed=='seniorfullstack'" icon="caret-up-fill"></b-icon>
                <b-icon v-else icon="caret-down-fill"></b-icon>
            </div>
            </div>
            <b-collapse id="seniorfullstack" visible accordion="jobAccordion" role="tabpanel">
              <div class="jobDescription">
                <h4>Job Description</h4>
                <ul>
                  <li>Design overall architecture of the web application.</li>
                  <li>Maintain quality and ensure responsiveness of applications.</li>
                  <li>Collaborate with the rest of the engineering team to design and launch new features.</li>
                  <li>Maintain code integrity and organization.</li>
                  <li>Understanding and implementation of security and data protection.</li>
                  <li>Highly experienced with back-end programming languages such as PHP and Python</li>
                  <li>Must know Laravel</li>
                  <li>Proficient experience using JavaScript libraries and frameworks such as Vue.js, ReactJS, etc.</li>
                  <li>Development experience for both mobile and desktop.</li>
                  <li>Understanding of server-side languages including NodeJs.</li>
                  <li>Experience with cloud message APIs and usage of push notifications.</li>
                  <li>Knowledge of code versioning tools such as Git, Mercurial or SVN.</li>
                </ul>
              </div>
              <div class="requirements">
                <h4>Requirements</h4>
                <ul>
                  <li>Candidate must possess at least Bachelor's/College Degree in Computer Science, Information Technology</li>
                  <li>At least 6 Year(s) of working experience in the related field is required for this position.</li>
                  <li>Preferably more than 5 Yrs Experienced Employee specialized in IT/Computer - Software or equivalent.</li>
                </ul>
              </div>
            </b-collapse>

            <div role="tab">
              <div class="toggler" @click="setCollapsed('devops')" v-b-toggle="'devops'">
                Devops Engineer 
                <b-icon v-if="collapsed=='devops'" icon="caret-up-fill"></b-icon>
                <b-icon v-else icon="caret-down-fill"></b-icon>
              </div>
            </div>
            <b-collapse id="devops" accordion="jobAccordion" role="tabpanel">
              <div class="jobDescription">
                <h4>Job Description</h4>
                <ul>
                  <li>Apply cloud (AWS) computing skills to deploy upgrades and fixes.</li>
                  <li>Troubleshoot production issues and coordinate with the development team to streamline code deployment.</li>
                  <li>Implement automation tools and frameworks (CI/CD pipelines).</li>
                  <li>Analyze code and communicate detailed reviews to development teams to ensure a marked improvement in applications and the timely completion of projects, as it pertains to development process, production network infrastructure and cyber security.</li>
                  <li>Collaborate with team members to improve the company’s engineering tools, systems and procedures, and data security.</li>
                  <li>Optimize the company’s computing architecture.</li>
                  <li>Conduct systems tests for security, performance, and availability.</li>
                  <li>Develop and maintain design and troubleshooting documentation.</li>
                </ul>
              </div>
              <div class="requirements">
                <h4>Requirements</h4>
                <ul>
                  <li>You possess a Bachelor’s degree in Computer Science, Engineering, or relevant field.</li>
                  <li>You have 3+ years’ experience as a DevOps Engineer or equivalent software-engineering role.</li>
                  <li>You are an expert in code deployment tools (Puppet, Ansible, and Chef).</li>
                  <li>You have experience in network, server, and application-status monitoring.</li>
                  <li>You possess a strong command of software-automation production systems (Jenkins and Selenium).</li>
                  <li>You exhibit expertise in software development methodologies.</li>
                  <li>You have working knowledge of PHP or Python and known DevOps tools like Git and GitHub.​</li>
                </ul>
              </div>
            </b-collapse>

            <div role="tab">
              <div class="toggler" @click="setCollapsed('designer')" v-b-toggle="'designer'">
                UI/UX Designer 
                <b-icon v-if="collapsed=='designer'" icon="caret-up-fill"></b-icon>
                <b-icon v-else icon="caret-down-fill"></b-icon>
              </div>
            </div>
            <b-collapse id="designer" accordion="jobAccordion" role="tabpanel">
              <div class="jobOverview">
                <h4>Job Overview</h4>
                <p>We are looking for a UI/UX Designer to turn our software into an easy-to-use product for our users.</p>
                <p>UI/UX Designer responsibilities include gathering user requirements, designing graphic elements and building navigation components. To be successful in this role, you should have experience with design software and wireframe tools. If you also have a portfolio of professional design projects that includes work with web/mobile applications, we’d like to meet you.</p>
                <p>Ultimately, you’ll create both functional and appealing features that address our clients’ needs and help us grow our customer base.</p>
              </div>
              <div class="jobDescription">
                <h4>Job Description</h4>
                <ul>
                  <li>Gather and evaluate user requirements in collaboration with product managers and engineers</li>
                  <li>Illustrate design ideas using storyboards, process flows and sitemaps</li>
                  <li>Design graphic user interface elements, like menus, tabs and widgets</li>
                  <li>Build page navigation buttons and search fields</li>
                  <li>Develop UI mockups and prototypes that clearly illustrate how sites function and look like</li>
                  <li>Create original graphic designs (e.g. images, sketches and tables)</li>
                  <li>Prepare and present rough drafts to internal teams and key stakeholders</li>
                  <li>Identify and troubleshoot UX problems (e.g. responsiveness)</li>
                  <li>Conduct layout adjustments based on user feedback</li>
                  <li>Adhere to style standards on fonts, colors and images</li>
                </ul>
              </div>
              <div class="requirements">
                <h4>Requirements</h4>
                <ul>
                  <li>Proven work experience as a UI/UX Designer or similar role</li>
                  <li>Portfolio of design projects</li>
                  <li>Knowledge of wireframe tools (e.g. Wireframe.cc and InVision, or any equivalents)</li>
                  <li>Up-to-date knowledge of design software like Adobe Illustrator and Photoshop</li>
                  <li>Team spirit; strong communication skills to collaborate with various stakeholders/managers</li>
                  <li>Good time-management skills</li>
                  <li>BA in Design, Computer Science or relevant fields</li>
                </ul>
              </div>
            </b-collapse>

            <div role="tab">
              <div class="toggler" @click="setCollapsed('tba')" v-b-toggle="'tba'">
                Technical	Business Analyst 
                <b-icon v-if="collapsed=='tba'" icon="caret-up-fill"></b-icon>
                <b-icon v-else icon="caret-down-fill"></b-icon>
              </div>
            </div>
            <b-collapse id="tba" accordion="jobAccordion" role="tabpanel">
              <div class="jobOverview">
                <h4>Job Overview</h4>
                <p>The Technical	Business Analyst, (BA), will be responsible for owning the overall design of	assigned technical projects (custom or product strategy) as well as recommending best	practices for solutions	based on client business needs. This role as a Technical Business Analyst will require strategic design and mapping of business requirements and solutions to system/technical requirements.</p>
                <p>An individual filling the Technical Business Analyst role should be comfortable being introduced during a pre-sales engagement and can articulate possible solutions applicable to experience with Cloud-Based Software solutions	(e.g. NetSuite, Intacct, SFDC, etc.) The Technical Business Analyst will also be responsible for writing a technical specifications (for custom development,	system	integration, etc.) based on interactions directly with the customer and professional services team. These specifications will need to be precise and clear as the Technical Business Analyst will delegate some work to fellow team members such as developers, consultants, or product support/documentation.</p>
                <p>Ideally	the Technical Business Analyst is engaged in best practice development initiatives, provides thoughtful leadership, and familiarity with proven	cloud solutions that support vertical objectives. </p>
              </div>
              <div class="jobDescription">
                <h4>Job Description</h4>
                <ul>
                  <li>Works effectively and individually with Technical and Non-Technical team members and customers</li>
                  <li>Shares similar mentality as existing team members toward customer satisfaction and success</li>
                  <li>Oversees, and has accountability for the successful completion of all aspects of assigned	project	work</li>
                  <li>Is able to exercise independent judgment, and take the lead role on enterprise level	project	with minimal direction from a director or engagement manager</li>
                  <li>Is able to effectively facilitate meetings, demonstrate brainstorming/consensus building skills, and interact with executive level project sponsors</li>
                  <li>Can be called on to take a lead role in sales initiatives related to areas of expertise </li>
                </ul>
              </div>
              <div class="requirements">
                <h4>Requirements</h4>
                <ul>
                  <li>
                    <span>Demonstrates the ability to effectively prepare and maintain the following documents/tools:</span>
                    <ul>
                      <li>Business Process</li>
                      <li>Process Flow Analysis</li>
                      <li>Product Architecture and Design Best Practices</li>
                      <li>Experience working with developers</li>
                      <li>Experience with Cloud Solutions and/or RDBS</li>
                      <li>Basic	competence in at least one programming language	(e.g. JavaScript, C#, etc.)</li>
                      <li>Requirements Definition</li>
                      <li>Configuration Workbook</li>
                      <li>Data	Models</li>
                      <li>Detailed Functional Design</li>
                      <li>Executive Summaries</li>
                      <li>Project Plans</li>
                      <li>Proper Technical Documentation for Developers to understand</li>
                    </ul>
                  </li>
                  <li>
                    Demonstrates the following Leadership Skills:
                    <ul>
                      <li>Sets Deadlines for Project Team Members</li> 
                      <li>Assigns Responsibilities and Directs Work of Project Team Members</li> 
                      <li>Monitors Progress, and Follows-up</li> 
                      <li>Provides Respectful	Feedback</li> 
                      <li>Escalates where necessary</li> 
                      <li>Analyzes/Identifies areas of risk and develops plans to minimize</li> 
                      <li>Seeks opportunities	to develop professional skills</li> 
                      <li>Travels with client or project team as needed/Required</li>
                    </ul>
                  </li>
                  <li>
                    Skills/Experience:
                    <ul>
                      <li>Technical Background/Degree Program preferred.</li>
                      <li>Able to discuss experience with cloud software solutions</li>
                      <li>Possesses excellent	oral and written communication skills</li>
                      <li>Ability to work independently</li>
                      <li>Willingness to travel	nationally and	internationally	(up to	50% possible)</li>
                      <li>Able to discuss the benefits	of a Software as a Service Model</li>
                      <li>Basic	Knowledge of implementation and configuration of enterprise systems such as CRM, PSA, or ERP</li>
                      <li>Ability to learn quickly and think creatively</li>
                      <li>Team	player with strong interpersonal skills and ability to take a leadership role	when necessary</li>
                      <li>Detail-oriented individual with the ability to quickly assimilate and apply new concepts,	business models, and	technologies.</li>
                      <li>Requires a bachelor's degree and at least 3-5 years of consulting experience or in a related area.</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </b-collapse>
          </div>
        </b-container>
      </div>
    </div>
  </Layout>
</template>

<script>
import { BIcon, BIconCaretDownFill, BIconCaretUpFill } from 'bootstrap-vue'

export default {
  metaInfo: {
    title: 'Careers'
  },
  components: {
    BIcon,
    BIconCaretDownFill,
    BIconCaretUpFill
  },
  data() {
    return {
      collapsed: 'seniorfullstack'
    }
  },
  methods: {
    setCollapsed(job) {
      if(this.collapsed == job) {
        this.collapsed = null
      } else {
        this.collapsed = job
      }
    }
  }
}
</script>

<style lang="scss">
.careers {
  .pageBackground {
    .container {
      .row {
        height: 682px;
      }
    }

    img {
      width: 100%;
    }
  }

  
  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .secondaryPageGradient {
    height: 100%;
    padding: 90px 0;

    img {
      width: 100%;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-top: 63px;
    }
  }

  .pageGradient {
    padding-bottom: 90px;

    .toggler {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
      color: #d04f25;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: 700;

      &.collapsed {
        border-bottom: solid #fdfdfd 1px;
      }
    }

    .collapse {
      .jobOverview, .jobDescription, .requirements {
        padding: 0;
        padding-bottom: 20px;
      }

      .jobOverview {
        p {
          font-size: 14px;
          color: #ffffff;
          font-weight: 400;
          padding-left: 2rem;
        }
      }

      h4 {
        color: #d04f25;
        font-size: 17px;
        font-weight: 600;
      }

      ul {
        list-style: none;
        padding-bottom: 0;

        li {
          font-size: 14px;
          margin-bottom: 5px;

          ul {
            li {
              list-style-type: disc;
        
              &::before {
                content: ''
              }
            }
          }

          &::before {
            content: '-';
            padding-right: 8px;
          }
        }
      }

      &.show {
        border-bottom: solid #fdfdfd 1px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .careers {
    .secondaryPageGradient {
      p {
        margin-top: 23px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .careers {
    .pageBackground {
      h2 {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .careers {
    .pageBackground, .secondaryPageGradient {
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .pageGradient {
      .toggler {
        font-size: 18px;
      }

      .collapse {
        .jobOverview, .jobDescription, .requirements {
          padding: 0 20px;
        }


        ul {
          padding-left: 0;
          li {
            font-size: 13px;
          }
        }

        .jobOverview {
          p {
            padding-left: 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}
</style>