<template>
  <Layout>
    <div class="contactUs">
      <div class="pageBackground">
        <b-container>
          <b-row align-v="center" align-h="between">
            <b-col md="6" cols="12">
              <h2>Contact us</h2>
            </b-col>
            <b-col md="6" cols="12">
              <g-image src="~/assets/images/sports-app.png" />
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div class="pageGradient">
        <b-container>
          <b-row align-h="between">
            <b-col md="6" cols="12" class="contactDetails">
              <h4>Contact</h4>
              <p>+63 999 481 8845 <br> +63 2 917 3085 / +63 2 577 2106 </p>
              <h4>Office Address</h4>
              <p>Unit 1903 The Orient Square Building F. Ortigas Jr. Rd, <br> San Antonio, Ortigas Center, Pasig City, Metro Manila, <br> Philippines 1600</p>
              <h4>Careers</h4>
              <p>Email Address: jobs@ninepinetech.com</p>
              <a href="https://www.facebook.com/ninepinetechnologies" target="_blank" class="h2 social"><b-icon icon="facebook"></b-icon></a>
            </b-col>
            <b-col md="6" cols="12" class="contactForm">
              <b-form @submit.prevent="sendForm">
                <b-form-group label="Name" label-for="contact-name" class="floating" :class="{ 'active' : activeInput == 'name' || contactForm.name }">
                  <b-form-input
                    autocomplete="off"
                    id="contact-name"
                    name="contact-name"
                    v-model="$v.contactForm.name.$model"
                    @focus="setActiveInput('name')"
                    @blur="setActiveInput('')"
                    @input="clearMessage"
                    :state="validateInput('name')"
                    aria-describedby="nameError"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback id="nameError">Name is required.</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group label="Email" label-for="contact-email" class="floating" :class="{ 'active' : activeInput == 'email' || contactForm.email }">
                  <b-form-input
                    autocomplete="off"
                    id="contact-email"
                    name="contact-email"
                    v-model="$v.contactForm.email.$model"
                    @focus="setActiveInput('email')"
                    @blur="setActiveInput('')"
                    @input="clearMessage"
                    :state="validateInput('email')"
                    aria-describedby="emailError"
                  >
                  </b-form-input>
                  <b-form-invalid-feedback id="emailError">Email is required and must be valid.</b-form-invalid-feedback>
                </b-form-group>
                <b-form-group label="Message" label-for="contact-message" class="message">
                  <b-form-textarea
                    rows="8"
                    autocomplete="off"
                    id="contact-message"
                    name="contact-message"
                    v-model="$v.contactForm.message.$model"
                    @focus="setActiveInput('message')"
                    @blur="setActiveInput('')"
                    @input="clearMessage"
                    :state="validateInput('message')"
                    aria-describedby="messageError"
                  >
                  </b-form-textarea>
                  <b-form-invalid-feedback id="messageError">Message is required.</b-form-invalid-feedback>
                </b-form-group>
                <div class="contactFormBtn" :class="{ 'noFormMessage': !contactFormMessage }">
                  <span v-if="contactFormMessage" :class="`text-${contactFormMessage.color}`">{{contactFormMessage.message}}</span>
                  <b-button type="submit" squared variant="outline-light">
                    <b-icon v-if="isSubmitting" icon="arrow-repeat" animation="spin"></b-icon> 
                    <span v-else>Send</span>
                  </b-button>
                </div>
              </b-form>
            </b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </Layout>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import emailjs from 'emailjs-com'
import { BIcon, BIconArrowRepeat, BIconFacebook } from 'bootstrap-vue'

export default {
  metaInfo: {
    title: 'Contact Us'
  },
  components: {
    BIcon,
    BIconArrowRepeat,
    BIconFacebook
  },
  data() {
    return {
      contactForm: {
        name: '',
        email: '',
        message: ''
      },
      activeInput: '',
      contactFormMessage: null,
      isSubmitting: false
    }
  },
  validations: {
    contactForm: {
      name: { required },
      email: { required, email },
      message: { required }
    }
  },
  methods: {
    setActiveInput(input) {
      this.activeInput = input
    },
    validateInput(input) {
      const { $dirty, $error } = this.$v.contactForm[input]
      return $dirty ? !$error : null
    },
    clearMessage() {
      this.contactFormMessage = null
    },
    resetFields() {
      Object.keys(this.contactForm).map(key => this.contactForm[key] = '')
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    sendForm() {
      this.contactFormMessage = null
      if(this.$v.contactForm.$invalid) {
        this.$v.contactForm.$touch()
      } else {
        this.isSubmitting = true
        try {
          emailjs.send(process.env.GRIDSOME_EMAILJS_SERVICE_ID, process.env.GRIDSOME_EMAILJS_TEMPLATE_ID, this.contactForm, process.env.GRIDSOME_EMAILJS_USER_ID)
          .then(() => {
            this.isSubmitting = false
            this.contactFormMessage = { color: 'success', message: 'Message was submitted. Thank you for reaching out!' }
            this.resetFields()
          }, (err) => {
            this.isSubmitting = false
            this.contactFormMessage = { color: 'danger', message: 'There was an error submitting your message.' }
            console.log(err)
          })
        } catch(err) {
          this.isSubmitting = false
          this.contactFormMessage = { color: 'danger', message: 'There was an error submitting your message.' }
          console.error(err)
        }
      }
    }
  }
}
</script>

<style lang="scss">
.contactUs {
  .pageBackground {
    .container {
      .row {
        height: 682px;
      }
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      text-transform: capitalize;
    }

    img {
      width: 100%;
    }
  }

  .pageGradient {
    height: 100%;
    padding: 110px 0;

    h4 {
      color: #d04f25;
      margin-bottom: 10px; 
      font-weight: 700;
    }

    p {
      margin-bottom: 40px;
      font-weight: 400;
    }

    h4, p {
      margin-top: 0;
    }

    .social {
      color: #fdfdfd;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #d04f25;
      }
    }
  }

  .contactForm {
    font-size: 14px;

    .form-group {
      position: relative;
      margin-bottom: 40px;

      &.floating.active label {
        top: 0;
        font-size: 9px;
      }
    }

    .floating label {
      position: absolute;
      top: 20px;
      transition: all 0.2s ease-in-out;
    }

    .message label {
      padding-bottom: 5px;
    }

    .floating label::after, .message label::after {
      content: '*';
      position: absolute;
      top: 4px;
      margin-left: 5px;
      color: #d04f25;
    }

    input, textarea {
      appearance: none;
      background: transparent;
      border-radius: 0;
      color: #fdfdfd;
      font-size: 14px;
      transition: all 0.2s ease-in-out;

      &:focus {
        box-shadow: none;
      }
    }

    input {
      height: 45px;
      border: none;
      border-bottom: solid #fdfdfd 1px;
      padding: 0;

      &.is-valid {
        border-bottom: solid #28a745 1px;
      }

      &.is-invalid {
        border-bottom: solid #dc3545 1px;
      }
    }

    textarea {
      border: solid #fdfdfd 1px;

      &.is-valid {
        border: solid #28a745 1px;
      }

      &.is-invalid {
        border: solid #dc3545 1px;
      }
    }

    .contactFormBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.noFormMessage {
        display: block;
        text-align: right;
      }

      span {
        font-weight: 600;
      }
    }

    button {
      font-size: 14px;
      text-transform: uppercase;
      width: 68px;

      &:hover {
        background: none;
        color: #e6721a;
        border-color: #e6721a;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .contactUs {
    .pageBackground {
      .container {
        .row {
          text-align: center;
        }
      }
    }

    .contactDetails {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .contactUs {
    .pageBackground, .pageGradient {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
</style>