<template>
  <Layout>
    <div class="gallery">
      <div class="pageBackground">
        <b-container>
          <b-row align-v="center" align-h="center">
            <b-col cols="12">
              <h2>Our Projects</h2>
              <a href="#" v-scroll-to="'#projects'">Take a look at our latest projects <b-icon icon="arrow-down" animation="cylon-vertical"></b-icon></a>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <div id="projects" class="pageGradient">
        <b-container>
          <b-row align-v="center" align-h="between">
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-1.jpg" alt="project-1"></g-image></b-col>
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-2.jpg" alt="project-2"></g-image></b-col>
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-3.jpg" alt="project-3"></g-image></b-col>
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-4.jpg" alt="project-4"></g-image></b-col>
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-2.jpg" alt="project-2"></g-image></b-col>
            <b-col md="4" cols="12"><g-image src="~/assets/images/project-5.jpg" alt="project-5"></g-image></b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </Layout>
</template>

<script>
import { BIcon, BIconArrowDown } from 'bootstrap-vue'

export default {
  metaInfo: {
    title: 'Gallery'
  },
  components: {
    BIcon,
    BIconArrowDown
  }
}
</script>

<style lang="scss">
.gallery {
  .pageBackground {
    .container {
      .row {
        height: 627px;
      }
    }

    h2, a {
      text-align: center;
      display: block;
    }

    h2 {
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
    }

    a {
      font-size: 21px;
      color: #fdfdfd;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #e6721a;
      }
    }
  }

  .pageGradient {
    height: 100%;
    padding-top: 72px;
    padding-bottom: 0;

    img {
      width: 100%;
      margin-bottom: 72px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .gallery {
    .pageGradient {
      padding-top: 50px;
      padding-bottom: 0;
    }

    img {
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .gallery {
    .pageBackground {
      h2 {
        font-size: 40px;
      }
    }

    .pageGradient {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
</style>