<template>
  <div class="home">
    <div class="heroImage primaryGradient">
      <div class="overlay"></div>
      <header-section></header-section>
      <b-container>
        <b-row align-v="center">
          <b-col xl="6" cols="12" class="slogan">
            <h1>Developing <br>Our Future</h1>
            <h3>Creating Exciting Opportunities in Gaming, Real Estate and Tourism</h3>
            <b-button v-scroll-to="'#services'" squared class="cta primaryBackground">Explore</b-button>
          </b-col>
        </b-row>
      </b-container>
      <div class="techstack">
        <b-container>
          <b-row align-v="center" align-h="center">
            <b-col xl="2" sm="4" cols="6"><g-image src="~/assets/images/docker.png" alt="docker" /></b-col>
            <b-col xl="2" sm="4" cols="6"><g-image src="~/assets/images/php.png" alt="php" class="image"/></b-col>
            <b-col xl="2" sm="4" cols="6"><g-image src="~/assets/images/mysql.png" alt="mysql" class="image"/></b-col>
            <b-col xl="2" sm="4" cols="6"><g-image src="~/assets/images/github.png" alt="github" class="image"/></b-col>
            <b-col xl="2" sm="4" cols="6"><g-image src="~/assets/images/atlassian.png" alt="atlassian" class="image"/></b-col>
          </b-row>
        </b-container>
      </div>
    </div>
    <div class="aboutNinepine secondaryGradient">
      <b-container>
        <b-row align-v="center" align-h="between">
          <b-col lg="7" cols="12">
            <g-image src="~/assets/images/ninepine-about.png" alt="ninepine-about" />
          </b-col>
          <b-col lg="5" cols="12">
            <h2>About <br>ninepine tech</h2>
            <p>Here at Ninepine Technologies you can be assured to receive the best services. We use the latest and top notch technology to develop web applications suited for your needs. We also provide high quality software that will surely level up your sports betting experience. Our fully dedicated team of professionals embraces challenges and delivers them with optimal results. </p>
            <b-button router-component-name="g-link" to="/about-us" squared class="primaryBackground cta">Learn More</b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div class="elevateCareer">
      <b-container>
        <b-row align-v="center" align-h="end">
          <b-col lg="4" md="6" cols="12" class="elevateCareerContent">
            <div class="overlay"></div>
            <h2>Elevate your career with us!</h2>
            <b-button router-component-name="g-link" to="/careers" squared class="primaryBackground">Careers</b-button>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div id="services" class="primaryGradient">
      <b-container>
        <h2>Our Core Services</h2>
        <b-row align-v="center" align-h="around">
          <b-col lg="4" md="6" cols="12">
            <div class="service primaryBackground">
              <g-image src="~/assets/images/web-development.png" alt="web-development" />
              <h4>Web <br> Development</h4>
              <p>We build mobile apps that are loved by users. Taking the benefits of Artificial Intelligence, ML, IoT and other high-end technologies to create app masterpiece that sustains.</p>
              <b-button variant="link">Explore <span class="caret">></span></b-button>
            </div>
          </b-col>
          <b-col lg="4" md="6" cols="12">
            <div class="service primaryBackground">
              <g-image src="~/assets/images/web-design.png" alt="web-design" />
              <h4>Website <br>Design</h4>
              <p>We build mobile apps that are loved by users. Taking the benefits of Artificial Intelligence, ML, IoT and other high-end technologies to create app masterpiece that sustains.</p>
              <b-button variant="link">Explore <span class="caret">></span></b-button>
            </div>
          </b-col>
          <b-col lg="4" md="6" cols="12">
            <div class="service primaryBackground">
              <g-image src="~/assets/images/mobile-development.png" alt="mobile-development" />
              <h4>Mobile App <br>Development</h4>
              <p>We build mobile apps that are loved by users. Taking the benefits of Artificial Intelligence, ML, IoT and other high-end technologies to create app masterpiece that sustains.</p>
              <b-button variant="link">Explore <span class="caret">></span></b-button>
            </div>
          </b-col>
        </b-row>
        <div class="contactBtn">
          <b-button router-component-name="g-link" to="/contact-us" squared variant="outline-light">Contact Us!</b-button>
        </div>
      </b-container>
    </div>
    <div class="bettingSoftware secondaryGradient">
      <b-container>
        <b-row align-v="center" align-h="between">
          <b-col lg="7" cols="12">
            <g-image src="~/assets/images/betting-software-products.png" alt="betting-software-products" />
          </b-col>
          <b-col lg="5" cols="12">
            <h2>Betting software <br>products</h2>
            <p>Maximize your sports betting experience! We provide powerful software with high quality graphics that will surely intensify your gaming experience. By efficiently utilizing the latest technology, we can cater to your needs in the most cost-effective way possible.</p>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <footer-section></footer-section>
  </div>
</template>

<page-query>
  query {
  metadata {
    siteName,
    siteDescription
    siteUrl
  }
}
</page-query>

<script>
import HeaderSection from '~/components/HeaderSection.vue'
import FooterSection from '../components/FooterSection.vue'

export default {
  metaInfo() {
    return {
      titleTemplate: `${this.$page.metadata.siteName} | ${this.$page.metadata.siteDescription}`
    }
  },
  components: {
    HeaderSection,
    FooterSection
  }
}
</script>

<style lang="scss">
  .heroImage {
    height: 1085px;
    background-image: url('~@/assets/images/homepage-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .overlay {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 46, 0);
    }
  }


  .slogan {
    margin-top: 145px;
    position: relative;

    h1 {
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h3 {
      width: 490px;
      font-size: 28px;
      font-weight:400;
      margin-top: 23px;
      margin-bottom: 0;
    }

    .cta {
      margin-top: 96px;
    }
  }

  .cta {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    padding: 10px 41px;
  }
  
  .techstack {
    margin-top: 270px;
    position: relative;
    img {
      display: block;
      margin: 0 auto;

      &.image {
        width: 150px;
      }
    }
  }

  .aboutNinepine, .bettingSoftware {
    padding: 130px 0;

    .container .row {
      height: 100%;
    }

    img {
      width: 100%;
    }

    h2 {
      text-transform: capitalize;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      margin-top: 64px;
      margin-bottom: 0;
    }

    .cta {
      margin-top: 85px;
    }
  }

  .elevateCareer {
    background-image: url('~@/assets/images/elevatecareer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -76px;

    .container .row {
      height: 392px;
      padding-top: 76px;
    }

    .elevateCareerContent {
      position: relative;
      padding: 20px;

      .overlay {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0);
      }
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1em;
      position: relative;
    }

    a {
      margin-top: 23px;
      text-transform: uppercase;
      font-weight: 600;
      padding: 10px 21px;
      position: relative;
    }
  }

  #services {
    height: 100%;
    position: relative;
    padding: 97px 0;

    h2 {
      text-transform: capitalize;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 0;
    }

    img {
      width: 48px;
    }

    .contactBtn {
      text-align: center;
    }

    a {
      margin-top: 78px;
      text-transform: uppercase;
      font-size: 14px;
      transition: all ease-in-out 0.4s;

      &:hover {
        background: none;
        color: #e6721a;
        border-color: #e6721a;
      }
    }

    .service {
      position: relative;
      z-index: 2;
      margin-top: 97px;
      padding: 38px 25px;
      transition: all ease-in-out 0.4s;
      cursor: pointer;

      &:hover {
        background-color: #282828;
      }

      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 56px;
        line-height: 1.5em;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 46px;
        line-height: 1.8em;
      }

      button {
        color: #fdfdfd;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 14px;
        padding: 0;
        margin-top: 88px;

        &:focus {
          box-shadow: none;
        }
      }

      .caret {
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: 1367px) {
    .heroImage {
      background-position: 40%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .heroImage {
      height: 100%;
      padding-bottom: 40px;

      .overlay {
        background-color: rgba(0, 0, 46, 0.65);
      }
    }


    .techstack {
      img {
        display: block;
        margin: 10px auto;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .heroImage {
      background-position: 60%;
    }

    .aboutNinepine, .bettingSoftware {
      h2, p, .cta {
        margin-top: 40px;
      }
    }

    .elevateCareer {
      h2 {
        font-size: 30px;
      }
    }

    #services {
      .service, a {
        margin-top: 40px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .heroImage {
      background-position: 70%;
    }

    .slogan {
      text-align: center;

      h1, h3, .cta {
        margin-top: 40px;
      }

      h3 {
        width: 100%;
        font-weight: 600;
      }
    }

    .elevateCareer {
      .elevateCareerContent {
        .overlay {
          background-color: rgba(33, 33, 33, 0.9);
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .heroImage, .aboutNinepine, .elevateCareer, #services, .bettingSoftware {
      padding-left: 50px;
      padding-right: 50px;
    }

    .slogan {
      margin-top: 50px;

      h1 {
        font-size: 45px;
      }

      h3 {
        font-size: 21px;
      }
    }

    .techstack {
      img, .image {
        margin: 20px auto;
        width: 125px;
      }
    }

    .elevateCareer {
      background-position: 35%;
    }

    .aboutNinepine, #services, .bettingSoftware {
      h2 {
        font-size: 30px;
      }
    }

    .cta {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 481px) {
    .heroImage, .aboutNinepine, .elevateCareer, #services, .bettingSoftware {
      padding-left: 20px;
      padding-right: 20px;
    }

    .slogan {
      h1 {
        font-size: 32px;
      }
    }

    .techstack {
      img, .image {
        width: 100px;
      }
    }

    .elevateCareer {
      background-position: 45%;
    }
  }
</style>
