<template>
  <footer class="footerGradient">
    <b-container>
      <b-row align-v="center" align-h="between">
        <b-col xl="1" lg="2" cols="12">
          <g-link to="/">
            <g-image src="~/assets/images/ninepine-logo.png" alt="ninepine-logo" />
          </g-link>
        </b-col>
        <b-col xl="6" lg="7" cols="12">
          <navbar></navbar>
        </b-col>
        <b-col xl="4" lg="3" cols="12" class="copyright">
          <p>&copy; Ninepine Tech {{year}}</p>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
import Navbar from './Navbar.vue'

export default {
  components: {
    Navbar
  },
  computed: {
    year() {
      return new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss">
  footer {
    padding: 12px;
    border-top: solid #87879c 1px;
    position: relative;

    img {
      width: 94px;
    }

    .container {
      .row {
        height: 120px;
      }  
    }

    .copyright {
      text-align: right;
  
      p {
        text-transform: uppercase;
        margin: 0;
        font-weight: 600;
      }
    }
  }
  
  @media only screen and (max-width: 992px) {
    footer {
      padding: 20px 0;

      .container {
        .row {
          height: 100%;
        }  
      }

      img {
        display: block;
        margin: 0 auto;
        width: 70px;
      }

      .copyright {
        text-align: center;
      }
    }
  }
</style>