<template>
  <header :class="{ 'primaryGradient' : !$route.hasOwnProperty('name') || $route.name != 'home' }">
    <b-container>
      <b-row align-v="center" align-h="between">
        <b-col lg="4" md="3">
          <g-link to="/">
            <g-image src="~/assets/images/ninepine-logo.png" alt="ninepine-logo" />
          </g-link>
        </b-col>
        <b-col lg="8" md="9">
          <navbar></navbar>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import Navbar from './Navbar.vue'

export default {
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
  header {
    padding-top: 12px;
    position: relative;

    img {
      width: 94px;
    }
    
    .container {
      .row {
        height: 120px;
      }  
    }
  }

  @media only screen and (max-width: 768px) {
    header {
      img {
        display: block;
        margin: 10px auto;
      }

      .container {
        .row {
          height: 100%;
        }  
      }
    }
  }
</style>