<template>
  <nav>
    <g-link to="/about-us">About Us</g-link>
    <g-link to="/careers">Careers</g-link>
    <a href="#" @click="goToServices">Services</a>
    <g-link to="/gallery">Gallery</g-link>
    <g-link to="/contact-us">Contact Us</g-link>
  </nav>
</template>

<script>
export default {
  methods: {
    servicesScroll() {
      this.$scrollTo("#services", 100, { easing: 'linear', x: false, y: true })
    },
    goToServices() {
      if(this.$route.path == '/') {
        this.servicesScroll()
      } else {
        this.$router.push({ path: '/' })
        setTimeout(() => {
          this.servicesScroll()
        }, 100)
      }
    }
  }
}
</script>

<style lang="scss">
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    a {
      color: #fdfdfd;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;

      &:hover, &.active {
        color: #e6721a;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    nav {
      margin: 20px 0;
      margin-left: 20px;
    }
  }

  @media only screen and (max-width: 576px) {
    nav {
      flex-direction: column;
      margin: 20px 0;

      a {
        margin-bottom: 10px;
      }
    }
  }
</style>