<template>
  <div class="layout">
    <header-section></header-section>
    <slot/>
    <footer-section></footer-section>
  </div>
</template>

<script>
import HeaderSection from '../components/HeaderSection.vue'
import FooterSection from '../components/FooterSection.vue'

export default{
  components: {
    HeaderSection,
    FooterSection
  }
}
</script>
